@font-face {
  font-family: roboto-bold;
  src: url("../fonts/roboto-bold.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #3b3b3b;
}

body {
  font-size: 1rem;
  margin: 0;
  background-color: #f68658;
  color: #0a0001;
  font-family: roboto-bold, sans-serif;
}

button {
  background-color: #827e7a;
  color: #e5e5e7;
  cursor: pointer;
}

button:hover {
  background-color: #f685589d;

}

.main-header {
  justify-content: space-between;
  align-items: center;
}

.info-container {
  flex-direction: column;
}

.search-location {
  background-color: #d9d9d9;
  outline: none;
}

.search-container > * {
  padding: 5px;
}

button,
.search-location {
  border: 1px solid #707288;
}

::placeholder {
  color: #f3f3f3;
}

.curr-location-container {
  justify-content: space-between;
}

.main-container,
.btns-container {
  margin-top: 20px;
}

.main-container {
  width: 100%;
}

.location-table {
  background-color: #4f81bc;
  border: 1px solid #3d5a8a;
  width: 100%;
}

.info-container {
  width: 50%;
  
}

.loc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loc-btns-container {
  padding-bottom: 10px;
}

.loc-container:not(:last-child) {
border-bottom: 1px solid rgba(238, 232, 232, 0.486) ;
}

.go-to-loc {
  background-color: rgba(0, 128, 0, 0.637);
}

.delete-loc {
  background-color: rgba(128, 9, 0, 0.637);
}

/* HELPERS */

.container {
  margin: 0 50px;
}
.flex {
  display: flex;
}
